@model EntityLayer.Entities.Product
@{
    ViewBag.Title = "Create";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Ad</label>
                    <input type="text" class="form-control" name="Name" />
                </div>
                <br />
                <div class="form-group">
                    <label>Açıklama</label>
                    <input type="text" class="form-control" name="Description" />
                </div>
                <br />
                <div class="form-group">
                    <label>Resim</label>
                    <input type="file" class="form-control" name="File" />
                </div>
                <br />
                <div class="form-group">
                    <label>Fiyat</label>
                    <input type="text" class="form-control" name="Price" />
                </div>
                <br />
                <div class="form-group">
                    <label>Stok</label>
                    <input type="text" class="form-control" name="Stock" />
                </div>
                <br />
                <div class="form-group">
                    <label>Youtube Link</label>
                    <input type="text" class="form-control" name="youtubeLink" />
                </div>
                <br />
                <div class="form-group">
                    <label>Popüler</label>
                    @Html.EditorFor(x => x.Popular)
                </div>
                <br />
                <div class="form-group">
                    <label>Kategori</label>
                    @Html.DropDownListFor(x => x.CategoryId, ViewBag.ktgr as List<SelectListItem>, "Seçiniz", new { @class = "form-control" })
                </div>
                <br />
                <button class="btn btn-primary" type="submit">Ekle</button>
                <a href="/AdminProduct/Index/" class="btn btn-success" style="margin-left:12px;">Ürün Listesi</a>
            </form>
        </div>
    </div>
</div>
