<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Game Wave Yönetici Paneli</title>

    <!-- CSS DOSYALARI -->
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Admin_Panel/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Admin_Panel/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Admin_Panel/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Admin_Panel/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/Admin_Panel/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Admin_Panel/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Admin_Panel/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="~/Admin_Panel/css/widgets.css" rel="stylesheet">
    <link href="~/Admin_Panel/css/style.css" rel="stylesheet">
    <link href="~/Admin_Panel/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Admin_Panel/css/xcharts.min.css" rel=" stylesheet">
    <link href="~/Admin_Panel/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Admin_Panel/css/fullcalendar.css">
    <link rel="stylesheet" href="~/Admin_Panel/css/owl.carousel.css" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!--/ CSS DOSYALARI -->
</head>

<body>
    <section id="container" class="">
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <a href="/Admin/Index" class="logo"><img style="width: 100px; height: 100px; margin-bottom: -50px; margin-top: -45px" src="~/Game-Wave/images/Logo.png" /></a>

            <div class="nav search-row" id="top_menu">
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Kategori adı giriniz..." type="text">
                        </form>
                    </li>
                </ul>
            </div>

            <div class="top-nav notification-row">
                <ul class="nav pull-right top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="username">@Session["Ad"]</span>
                            <span class="username">@Session["Soyad"]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <aside>
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu">
                    <li>
                        <a href="/AdminCategory/Index">
                            <span>Kategoriler</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminProduct/Index">
                            <span>Oyunlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminSales/Index">
                            <span>Satışlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/UserList">
                            <span>Kullanıcılar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminIstatistic/Index">
                            <span>İstatistikler</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Comment">
                            <span>Yorumlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            <span>Siteye Git</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
    </section>

    <!-- SCRIPT DOSYALARI -->
    <script src="~/Admin_Panel/js/jquery.js"></script>
    <script src="~/Admin_Panel/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Admin_Panel/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Admin_Panel/js/bootstrap.min.js"></script>
    <script src="~/Admin_Panel/js/jquery.scrollTo.min.js"></script>
    <script src="~/Admin_Panel/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Admin_Panel/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/Admin_Panel/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Admin_Panel/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Admin_Panel/js/owl.carousel.js"></script>
    <script src="~/Admin_Panel/js/fullcalendar.min.js"></script>
    <script src="~/Admin_Panel/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="~/Admin_Panel/js/calendar-custom.js"></script>
    <script src="~/Admin_Panel/js/jquery.rateit.min.js"></script>
    <script src="~/Admin_Panel/js/jquery.customSelect.min.js"></script>
    <script src="~/Admin_Panel/assets/chart-master/Chart.js"></script>
    <script src="~/Admin_Panel/js/scripts.js"></script>
    <script src="~/Admin_Panel/js/sparkline-chart.js"></script>
    <script src="~/Admin_Panel/js/easy-pie-chart.js"></script>
    <script src="~/Admin_Panel/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Admin_Panel/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Admin_Panel/js/xcharts.min.js"></script>
    <script src="~/Admin_Panel/js/jquery.autosize.min.js"></script>
    <script src="~/Admin_Panel/js/jquery.placeholder.min.js"></script>
    <script src="~/Admin_Panel/js/gdp-data.js"></script>
    <script src="~/Admin_Panel/js/morris.min.js"></script>
    <script src="~/Admin_Panel/js/sparklines.js"></script>
    <script src="~/Admin_Panel/js/charts.js"></script>
    <script src="~/Admin_Panel/js/jquery.slimscroll.min.js"></script>
    <script>
        $(function () {
            $(".knob").knob({
                'draw': function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });
        $(function () {
            $('select.styled').customSelect();
        });
        $(function () {
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
    </script>
    <!--/ SCRIPT DOSYALARI -->
</body>
</html>
